<!DOCTYPE html>
<html>
<head>
	<title>WEATHERRVA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="favi.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
	
</head>
<body>
	<header class="siteHeader">
    <section class="logoContainer floatLeft">
      <a class="floatLeft" href="">
        <h1 class="logoText floatLeft">WEATHER RVA</h1>
      </a>
    </section>
    <section class="navContainer">
      <nav class="mainNav floatRight">
        <a href="">about</a>
      </nav>	
    </section>
	
	</header>
	<main >
    <section class="weatherReport body">
      <h2>The temperature in Richmond is {{rvaWeatherReport?.main_temp}} &#176; caffeiF</h2>
      <h2>It feels like {{rvaWeatherReport?.main_feels_like}} &#176; F</h2>
      <h2>The pressure is {{rvaWeatherReport?.main_pressure}} hPa</h2>
      <h2>The humidity {{rvaWeatherReport?.main_humidity}} %</h2>

        <!-- JONATHAN!!!!!! YOU NEED TO ADD THAT ? BEFORE THE PERIOD-->


    </section>
	</main>
	<footer>
    
    </footer>
</body>

</html>